<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/templateGame.xhtml">
                	
			<ui:define name="pageTitle"></ui:define>		
			<ui:define name="pageContent"><h:form>
	
	</h:form>
		
		<h:form id="loginForm">
		<h:panelGrid columns="2">
		<h:outputText value="LOGIN" />
		<h:inputText value="#{AuthenticationMB.personne.login}" />
		<h:outputText value="PASSWORD" />
		<h:inputSecret value="#{AuthenticationMB.personne.password}" />
		
		
		<h:commandButton id="loginButton" action="#{AuthenticationMB.authenticate}" value="LOG IN" />
		<h:message for="loginButton" styleClass="error"/>
		</h:panelGrid>
		
		
		</h:form></ui:define>
</ui:composition>