<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/templateGame.xhtml">
                	
			<ui:define name="pageTitle"></ui:define>		
			<ui:define name="pageContent">
			<h:form>
		<h2></h2>
			
		</h:form>
			
			</ui:define>
</ui:composition>