body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c8c8c8;
	/*background-color: #580001;*/
	background-image: url('../resources/images/124012.jpg');
	background-size:100% 100%;
	background-repeat : no-repeat;
	
	background-attachment : fixed;
	background-position: left top;
	margin: 37px 0px 0px 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #70e7ff;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.main {
	width: 989px;
	margin:0px auto;
}
.page, .header {
	width: 989px;
	float: left;
}
.banner {
	background-image: url(../resources/images/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	
	border-style:dashed;
	border-width:2px;
	border-color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	width: 989px;
	height: 203px;
	float: left;
}
.banner h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 100%;
	color: #FFFFFF;
	margin-left: 391px;
	margin-top: 72px;
}

#horizon a {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
}
.topmenu {
	width: 989px;
	height: 38px;
	float: left;
}
.topmenu ul {
	list-style-type: none;
}
.topmenu ul li #horizon{
	display: inline;
	padding: 0px 22px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.topmenu ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
}
.topmenu ul li a:hover {
	text-decoration: underline;
}
.content {
	/*background-color: #020202; */
	/*background-image: url(../resources/images/top-round.jpg);*/
	background-repeat: no-repeat;
	background-position: left top;
	width: 989px;
	float: left;
	padding-top: 20px;
	
	/************************/
	background-color: #3b3533;
	border-style:solid;
	border-width:2px;
	border-color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.content-in {
	/*background-image: url(../resources/images/bottom-round.jpg);*/
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 948px;
	float: left;
	padding-left: 20px;
	padding-right: 21px;
	padding-bottom: 20px;
	
	
	/************************/
	background-color: #3b3533;
	
	border-bottom-color: #3b3533;
	border-bottom-style:solid;
	border-bottom-width:2px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.left-panel {
	width: 238px;
	float: left;
}
.left-panel h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	line-height: 48px;
	color: #f1f1f1;
	/*background-image: url(../resources/images/left-head.jpg);*/
	background-repeat: no-repeat;
	background-position: left top;
	/*height: 48px;*/
	padding-left: 17px;
	
	/************************/
	height: 53px;
	
	background-color: #e74345;
	border-top-color: #7bc7c9;
	border-top-style:solid;
	border-top-width:2px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.gap {
	height: 9px;
	clear: both;
}
.left-content {
	margin-top: -2px;
	background-color: #f1f1f1;
	/*background-image: url(../resources/images/left-bottom.jpg);*/
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
	padding-bottom: 24px;
	
	margin-top: -8px;
	
	/************************/
	border-bottom-color: #3b3533;
	border-bottom-style:solid;
	border-bottom-width:2px;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
}
.left-content ul {
	padding-right: 18px;
	padding-left: 18px;
	list-style-type: none;
}
.left-content ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cbcccc;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 29px;
	color: #000000;
	text-decoration: none;
	background-image: url(../resources/images/red-bullet.jpg);
	background-repeat: no-repeat;
	background-position: 7px center;
	text-align: left;
	display: block;
	height: 29px;
	padding-left: 35px;
}
.left-content ul li a {
	color: #000000;
}
.left-content ul li a:hover {
	color: #ff0303;
}
.left-content ol {
	padding-right: 11px;
	padding-left: 11px;
	list-style-type: none;
}
.left-content ol li {
	color: #000000;
	background-image: url(../resources/images/black-bullet.jpg);
	background-repeat: no-repeat;
	background-position: left 24px;
	padding-left: 16px;
	padding-top: 20px;
}
a.more {
	font-size: 12px;
	color: #ff0303;
	text-decoration: none;
	text-align: right;
}
a.more:hover {
	text-decoration: underline;
}
.right-panel {
	/*background-color: #646363;*/
	/*background-image: url(../resources/images/top-round2.jpg);*/
	background-repeat: no-repeat;
	background-position: left top;
	width: 698px;
	float: right;
	padding-top: 16px;
	
	/************************/
	background-color: #7bc7c9;
	border-bottom-color: #7bc7c9;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.right-panel-in {
	/*background-image: url(../resources/images/bottom-round2.jpg);*/
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 698px;
	float: left;
	padding-bottom: 16px;
	
	/************************/
	background-color: #7bc7c9;	
	border-bottom-color: #7bc7c9;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.right-panel-in strong {
	color: #FFFFFF;
}
.row {
	clear: both;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	line-height: 25px;
	color: #fafafa;
	background-color: #898989;
	height: 25px;
	padding-left: 34px;
}
.title span {
	background-color: #646363;
	padding-right: 5px;
	padding-left: 5px;
}
.title span span {
	color: #990000;
	padding: 0px;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}
.row2 {
	clear: both;
	padding: 14px 35px 55px 44px;
}
ul.list-home {
	list-style-type: none;
}
ul.list-home li {
	background-image: url(../resources/images/round-bullet.jpg);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left: 25px;
	margin-top: 10px;
}
.vline {
	background-image: url(../resources/images/vline.jpg);
	background-repeat: no-repeat;
	background-position: 340px top;
	width: 689px;
	float: left;
	padding-right: 9px;
}
.section1 {
	width: 320px;
	float: left;
}
.section2 {
	width: 320px;
	float: right;
}
a.more2 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
a.more2:hover {
	text-decoration: none;
}
.footer {
	line-height: 61px;
	background-image: url(../resources/images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 949px;
	height: 61px;
	float: left;
	padding: 0px 20px;
}
.footer p {
	font-size: 12px;
	color: #FFFFFF;
	float: left;
}
.footer ul {
	float: right;
	list-style-type: none;
}
.footer ul li {
	display: inline;
	padding: 0px 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.footer ul li a {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: underline;
}
