<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
  <h:form rendered="#{AuthenticationMB.loggedIn}">
  <h:panelGrid columns="2">
  
  

  <h:outputText value="Logged in as  #{AuthenticationMB.personne.login}" />
  
    <h:commandLink value="LOGOUT" action="#{AuthenticationMB.logOut}" />
  </h:panelGrid>
  </h:form>              	

</ui:composition>