﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
 
  <title>Games Park </title>
  <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
<div class="main">
<div class="page">
<div class="header">
<div class="banner">

</div>
<div class="topmenu">
				<div id="horizon" >
				<div id="identity"><ui:include src="/template/identity.xhtml" /></div>
					<div id="topbar"><ui:include src="/template/topbar.xhtml" /></div>
					
					
				</div>
<!-- <ul> -->
<!--   <li style="border-left: medium none;"><a href="index.html">Home</a></li> -->
<!--   <li><a href="#">About Us</a></li> -->
<!--   <li><a href="#">Recent articles</a></li> -->
<!--   <li><a href="#">Email</a></li> -->
<!--   <li><a href="#">Resources</a></li> -->
<!--   <li><a href="#">Links</a></li> -->
<!--   <li><a href="#">Contact</a></li> -->
<!-- </ul> -->
</div>
</div>
<div class="content">
<div class="content-in">
<div class="left-panel">

<ui:insert name="manage"/>
<div class="gap"></div>
<h2>Recent Updates</h2>
<div class="left-content">
<ol>
  <li><span><strong>Lorem Ipsum is simply dummy text</strong> of the
printing and typesetting industry. Lorem Ipsum has been the.</span> <a href="#" class="more">read more...</a></li>
  <li><span><strong>Lorem Ipsum is simply</strong> dummy text of the
printing and typesetting industry.</span> <a href="#" class="more">read
more...</a></li>
</ol>
</div>
</div>
<div class="right-panel">
<div class="right-panel-in">
<ui:insert name="pageContent"/>
</div>
</div>
</div>
</div>
<!--DO NOT Remove The Footer Links-->
<div class="footer">
<p>© Copyright 2014. Designed by <a target="_blank" href="http://www.htmltemplates.net">HTML Templates</a></p>
<ul>
  <li style="border-left: medium none;"><a href="index.html">Home</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Recent articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</div>
</div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<h:graphicImage library="images" name="footnote.gif" class="copyright" alt="htmltemplates.net" />
</a>
<!--DO NOT Remove The Footer Links-->

</h:body></html>