<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
                
                <h:form>
                <h:panelGrid columns="2">         
                 <h:commandLink action="/pages/welcome" value="welcome" />
                <h:commandLink action="/pages/login" value="LOG IN"  rendered="#{ not AuthenticationMB.loggedIn}"/>
                </h:panelGrid>
                </h:form>
                
               
                	

</ui:composition>