<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                	
			
			<h:form rendered="#{PlayerMB.displayForm}">
				<h:panelGrid columns="2">
				<h:outputText value="Login" />
				<p:inputText value="#{PlayerMB.player.login}" />
				
				 <h:outputLabel for="pwd1" value="Password : *" />  			
				<p:password id="pwd1" value="#{PlayerMB.player.password}" match="pwd2" label="Password 1" required="true"/>  
  
	            <h:outputLabel for="pwd2" value="Confirm Password: " />  
	            <p:password id="pwd2" value="#{PlayerMB.player.password}" label="Password 2" required="true"/>  
				
				
				<h:outputText value="Full Name" />
				<p:inputText value="#{PlayerMB.player.fullName}" />
				
				<h:outputText value="Age" />
				<p:inputText value="#{PlayerMB.player.age}" />
				
				<h:outputText value="Coins" />
				<p:inputText value="#{PlayerMB.player.coins}" />
				
				<p:commandButton actionListener="#{PlayerMB.saveOrUpdate}" value="Save" update=":panelManage" />
				
				
				<p:commandButton actionListener="#{PlayerMB.cancel}" value="Cancel"  update=":panelManage"/>
				</h:panelGrid>
			</h:form>
			
			
</ui:composition>