<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form rendered="#{PlayerMB.displayListPlayer}">

		<p:dataTable value="#{PlayerMB.players}" paginator="true" var="playerCourant"
			border="1">


			<p:column>
				<f:facet name="header">
					<h:outputText value="ID" />
				</f:facet>
				<h:outputText value="#{playerCourant.id}" />
			</p:column>

			<p:column>
				<f:facet name="header">
					<h:outputText value="Full Name" />
				</f:facet>
				<h:outputText value="#{playerCourant.fullName}" />
			</p:column>

			<p:column>
				<f:facet name="header">
					<h:outputText value="Login" />
				</f:facet>
				<h:outputText value="#{playerCourant.login}" />
			</p:column>

			<p:column>
				<f:facet name="header">
					<h:outputText value="Age" />
				</f:facet>
				<h:outputText value="#{playerCourant.age}" />
			</p:column>

			<p:column>
				<f:facet name="header">
					<h:outputText value="Coins" />
				</f:facet>
				<h:outputText value="#{playerCourant.coins}" />
			</p:column>
			
				<p:column>
				<f:facet name="Action">
					<h:outputText value="Action" />
				</f:facet>
				<p:commandButton  value="Select" update=":panelManage">
				<f:setPropertyActionListener target="#{PlayerMB.player}" value="#{playerCourant}"></f:setPropertyActionListener>
				<f:setPropertyActionListener target="#{PlayerMB.displayForm}" value="true"></f:setPropertyActionListener>
				</p:commandButton>
				
				<p:commandButton  value="Delete" actionListener="#{PlayerMB.delete}" update=":panelManage">
				<f:setPropertyActionListener target="#{PlayerMB.player}" value="#{playerCourant}"></f:setPropertyActionListener>
				
				</p:commandButton>
			</p:column>

		</p:dataTable>

		<p:commandButton actionListener="#{PlayerMB.showForm}" value="New Player" update=":panelManage" />
	</h:form>
</ui:composition>