<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/templateGame.xhtml"
                xmlns:p="http://primefaces.org/ui">
                	
			<ui:define name="pageTitle"> Manage Player</ui:define>	
			<ui:define name="manage">
			<h2>Manage</h2>
			<h:panelGroup layout="block" styleClass="left-content" rendered="#{AuthenticationMB.loggedIn}">
<ul>
<h:form>
   <h:commandLink  update=":panelManage" value="Manage Players" >
 <f:setPropertyActionListener target="#{PlayerMB.displayListPlayer}" value="true"></f:setPropertyActionListener>
 <f:setPropertyActionListener target="#{GameMB.displayList}" value="false"></f:setPropertyActionListener>
  </h:commandLink>
<br/>
  <h:commandLink  update=":panelManage" value="Manage Games" >
 <f:setPropertyActionListener target="#{PlayerMB.displayListPlayer}" value="false"></f:setPropertyActionListener>
 <f:setPropertyActionListener target="#{GameMB.displayList}" value="true"></f:setPropertyActionListener>
  </h:commandLink>
  </h:form>
</ul>
</h:panelGroup>
			</ui:define>	
			<ui:define name="pageContent">
			<p:panel id="panelManage" header="Manage Player">
			<ui:include src="/pages/admin/listPlayer.xhtml" />
			<ui:include src="/pages/admin/addPlayer.xhtml" />
			<ui:include src="/pages/admin/listGame.xhtml" />
			<ui:include src="/pages/admin/addGame.xhtml" />
			</p:panel>
			</ui:define>
</ui:composition>