<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/templateGame.xhtml">

	<ui:define name="pageTitle">Home Page</ui:define>
			<ui:define name="manage">
			<h2>Manage</h2>
			<h:panelGroup layout="block" styleClass="left-content" rendered="#{AuthenticationMB.loggedIn}">
<ul>
<h:form>
  <h:commandLink  update=":panelManage" value="My Games" >
 
  </h:commandLink>
  <br/>
    <h:commandLink  update=":panelManage" value="Buy Game" >
 
  </h:commandLink>
  </h:form>
</ul>
</h:panelGroup>
</ui:define>
	<ui:define name="pageContent">
		<h:body>
			<h2>
				Bonjour
				<h:outputText
					value="#{AuthenticationMB.personne.fullName} #{AuthenticationMB.personne.login}" />
			</h2>
		</h:body>
	</ui:define>
</ui:composition>